 /* link external */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@600&family=Raleway:wght@400;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global config */
:root {
  --primary: #145c74;
  --secondary: #287999;
  --aksen: #64ccc5;
  --complement: #fcd911f8;
  --font-primary: 'Open Sans', sans-serif;
  --tr-bg-primary:rgb(20, 92, 116,.17);
  --tr-bg-secondary:rgb(20, 92, 116,.07);
}

body {
  font-family: var(--font-primary);
}
a{
    text-decoration: none;
    color: white;
}
h1, h2, h3{
  letter-spacing: 0.09vh;
}
p{
  font-size: 2.5vh;
  margin: 2vh 0;
}
/* --- */
/* navbar */
header {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  background-color: var(--primary);
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1.25vh 0;
  box-shadow: #145c74 .2px 2px 1px;
} 

.title {
  display: flex;
  height: auto;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 1.75em;
  height: 1.75em;
  margin: 1rem;
}

.title h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1.5rem;


}
.title h1 span {
  display: inline-block;

  padding: 0.3rem;
  margin: 0.15rem 0;
  border-radius: 1vh;
  color: var(--complement);
}
.nav-bar {
  font-size: 0.8rem;
}
.nav-bar ul {
display: flex;
  margin-right: 1rem;
  list-style-type: none;
}
.nav-bar ul li a{

  margin: .2vh;
  padding-right: 2vh;
  color: white;

}
.nav-bar ul .end{
    border: none;

}
/* jumbotron */

.jumbotron{
  display: flex;
  padding: 7rem 3rem;
  margin: 3rem;
  border-radius: 2vh;
  background-color: var(--secondary);
  align-items: center;
  flex-wrap: wrap-reverse;
  font-size: 5vh;
}
.jumbotron .text{

  color: white;
  text-align: left;  
  margin: 2rem;
}
.jumbotron .text h2{
  color: var(--complement);
  margin-bottom: 2vh;

  
}
.jumbotron .hp{
  margin: auto;
}
.jumbotron .hp img{
  width: 12rem;
  height: 12rem;

}


main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
article{
  padding: 2rem;
  text-align: center;
  font-size: 4.5vh;
  margin: 4rem;
  padding: 2rem;
}
/* article droplist */
article .drop-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

article .list{
  width: 30vh;
  background: var(--tr-bg-secondary);
  border-radius: 1vh ;
  margin: 2rem 5rem;
  padding: .05rem;
}

.model{
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

}

.model h1{
  margin: 2rem 0;
}
.model .img-wrapper{
  justify-content: center;
  align-items: center;
  background-color: var(--tr-bg-secondary);
}
.model img{
  border-radius: 2vh;
  width: 50%;
}






